html {
    scroll-behavior: none;
    user-select: none;
}

body {
    font-family: 'Play', sans-serif;
    background-color: #A0A3BD;
}
h3{
    color: #fff;
}

.logo {
    width: 35px;
}

.hading {
    margin-left: 7px;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background:linear-gradient(45deg, #0C15FF, #A128FF);
    color: #fff;
}

.m-3-fixed {
    margin: 0 !important;
}

.op {
    margin: 35px 0;
}

.card-fixed-progms-leng {
    width: 23rem !important;
}

.info {
    background-color: #EFF0F7;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 16px;
    padding: 35px;
    box-sizing: border-box;
}
.warning{
    background-color: #d9db63;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 16px;
    padding: 35px;
    box-sizing: border-box;
}

.main-color {
    background-color: #FFFFFF;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-200 {
    margin-top: 200px;
}

.menublock_item {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
}

.menublock_item-hidden {
    width: 100%;
    height: auto;
    display: none;
}

.menublock_item-hidden p {
    cursor: pointer;
}


.menublock_item img {
    width: 40px;
    height: auto;
}

.menublock_item p {
    cursor: pointer;
    color: #A0A3BD;
}

.container {
    max-width: 1600px;
    width: 100%;
}
.container h1{
    color: #fff;
}

.item {
    display: flex;
    justify-content: space-between;
}

.content-l {
    margin: 0 10px;
}

.text-l {
    max-width: 300px;
    width: 100%;
}

.text-r {
    max-width: 1300px;
    width: 100%;
}

.gg {
    display: block;
}

.rt {
    margin-top: 100px;
}

.io {
    margin-right: 50%;
}

/*===============================*/

.box-card {
    display: flex;
    justify-content: space-between;
}

.bg-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    width: 25rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 3px;
}

.bg-card img {
    margin: 10px;
    width: 60px;
}

.card-programs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-link {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255) !important;
}

.nav-link i {
    margin-right: 7px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 35px 10px;
    width: 100%;
    background-color: #eaeaea;
}

footer a {
    margin: 10px;
}

.up {
    text-decoration: none;
    position: fixed;
    color: #fff;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #061e37;
    z-index: 1000;
    transition: 0.3s;
    margin-top: 47.5%;
    margin-left: 92.5%;
}

.up:hover {
    border: 1px solid #061e37;
}

.code {
    padding: 2px 4px;
    background: #f5f2f0;
    border-radius: 50px;
    text-align: center;
}

/* login+registration*/

.box{
    width: 600px;
    padding: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #EFF0F7;
    text-align: center;
    border-radius: 90px;
}

.box h1{
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 330px;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}
